main {
	min-height: 80vh;
	background-color: rgb(207, 207, 207);
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

h3 {
	padding: 1rem 0;
	color: rgb(64, 102, 7);
}

.rating span {
	margin: 0.1rem;
}
.card {
	background-color: black;
}

.card-img {
	overflow: hidden;
}
.card-img {
	transition: all 1.5s ease-out;
}
.card-img:hover {
	transform: scale(1.13);
}
